<% provide(:title, "About") %>

  <body>
	<h1>About</h1>
	<p>
      The goal of Torah Illustrations is to bring the Torah to life through illustration. If a picture is worth 1000 words and 1 word of Torah is Infinite...well you do the math!
	</p>
  </body>