<div class="center jumbotron">
  <h1>AAAAWelcome to Torah Illustrations</h1>

  <h2>
    Using Art to Express the Beauty of the Torah
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>