<div class="center jumbotron">
  <h1>Welcome to Torah Illustrations</h1>

  <h2>
    Helping The Jewish People Express Themselves Artistically Through The Torah
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>